<div class="large-container center-block">

  <h1> <%=@article.title %> </h1>
  <div>
    <%= @article.content %>
  </div>
  <div>
    <p> Escrito por: <strong> <%= @article.educator.email %> </strong>  </p>
  </div>
  <div>
      <%= link_to "Eliminar el articulo", @article, method: :delete, :class => "btn btn-danger"%>
  </div>

</div>
