<div class="small-container center-block">
  <h1>Editar condición</h1>

  <%= render 'form', type: @type %>
  <br>
  <!-- <%= link_to 'Ver', @type %> | -->
  <%= link_to 'Volver', types_path %>

</div>
