<!-- Al entrar a un type, mostrar los articulos que tiene asociados -->
<div class="large-container center-block">
  <h1> Articulos publicados en <%= @type.title %> </h1>
  <%= render @type.articles %>
</div>
